# requirements.txt (no versions)
asttokens
attrs
comm
contourpy
cycler
Cython
debugpy
decorator
executing
fastjsonschema
fonttools
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
matplotlib
matplotlib-inline
mlxtend
narwhals
nbformat
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
rpds-py
scikit-learn
scipy
seaborn
setuptools
six
stack-data
threadpoolctl
tornado
traitlets
tzdata
wcwidth
wheel
widgetsnbextension
statsmodels
pmdarima
